
<div class="container">
  <section class="content" >

    <div>
      <h2><b>view</b></h2>
      <div *ngFor="let view of view$ | async">
        <pre>{{ view  }}</pre>
      </div>
    </div>
  
    <div>
      <h2><b>user</b></h2>
      <div *ngFor="let user of user$ | async">
        <pre>{{ user | json }}</pre>
      </div>
    </div>

    <div>
      <h2><b>client</b></h2>
      <div *ngFor="let client of client$ | async">
        <pre>{{ client | json }}</pre>
      </div>
    </div>

    <div>
      <h2><b>store</b></h2>
      <div *ngFor="let store of store$ | async">
        <pre>{{ store | json }}</pre>
      </div>
    </div>

    <div>
      <h2><b>order</b></h2>
      <div *ngFor="let order of order$ | async">
        <pre>{{ order | json }}</pre>
      </div>
    </div>

  </section>
</div>