.container {
  background-color: transparent;
}

.font-olissy{
  font-family: 'Clicker Script', cursive;
  font-size: 120px;
  font-weight: 100;
  text-align: center;
}

.content{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
} 

.box-body {
  padding: 30px 0px 0px 0px;
}

.callout {
  border-left: 0px solid #eee;
}

.alert-message{
padding-left: 0px;
padding-right: 0px;
}