<br />
<ul class="sidebar-menu" data-widget="tree">
  <li routerLinkActive="active">
    <a routerLink="/alter-perfil-of-client" data-toggle="push-menu">
      <i class="fa fa-user"></i> <span>{{ nameUser }}&nbsp;{{ lestNameUser }}</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/welcome-for-open-your-store" data-toggle="push-menu">
      <i class="fa fa-user-plus"></i>
      <span>Abrir Minha Loja</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/client-list-of-all-store" data-toggle="push-menu">
      <i class="fa fa-group"></i><span>Lojas</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/message" data-toggle="push-menu">
      <i class="fa fa-envelope"></i> <span>Mensagens</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/client-order-list" data-toggle="push-menu">
      <i class="fa fa-bell"></i> <span>Pedidos</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/client-invoice-list" data-toggle="push-menu">
      <i class="fa fa-folder-open"></i>
      <span>Documentos</span>
    </a>
  </li>
  <!--
  <li routerLinkActive="active">
    <a routerLink="configuration" data-toggle="push-menu">
      <i class="fa fa-gear"></i>
      <span>Configuração</span>
    </a>
  </li>-->
  <li routerLinkActive="active">
    <a (click)="signOut()" data-toggle="push-menu"   >
      <i class="fa fa-power-off"></i>
      <span>Sair</span>
    </a>
  </li>
</ul>