<div class="container">
    <section class="content">
      <div>
        <div>
          <div *ngIf="active.message" class="message">
            <h4>{{ active.text }}</h4>
          </div>
          <img
            class="img-responsive center-block img-circle"
            autocomplete="off"
            style="margin-bottom: 15px; margin-top: 30px"
            [src]="imageDisplay"
            width="200"
            alt="User Avatar"
            id="image_icon_url"
          />
        </div>
  
        <label class="filebutton" style="width: 100%">
          <div class="widget-user-image">
            <div class="btn btn-light">
              <b> altere a foto do perfil </b>
            </div>
          </div>
          <span hidden>
            <input
              type="file"
              class="filebutton2"
              (change)="uploadImage($event)"
            />
          </span>
        </label>
      </div>
      <form [formGroup]="clientForm" novalidate>
        <div class="form-group" formGroupName="user">
          <label for="email">Meu Email já Registrado</label>
          <input
            type="text"
            class="form-control"
            autocomplete="off"
            formControlName="email"
            value="email"
          />
        </div>  
        <div class="form-group" formGroupName="client">
          <label for="name">Meu nome</label>
          <input
            type="text"
            class="form-control"
            autocomplete="off"
            formControlName="name"
            required
            placeholder="Ex: Cris"
            value="name"
          />
          <span
            class="help-block"
            style="color: green"
            *ngIf="
              clientForm.controls.client.controls.name.valid &&
              (clientForm.controls.client.controls.name.dirty || clientForm.controls.client.controls.name.touched)
            "
            ><i class="fa fa-check"></i>Ok
          </span>
          <span
            class="help-block"
            style="color: red"
            *ngIf="
              clientForm.controls.client.controls.name.invalid &&
              (clientForm.controls.client.controls.name.dirty || clientForm.controls.client.controls.name.touched)
            "
            ><i class="fa fa-remove"></i>Campo Obrigatorio
          </span>
        </div>

        <div class="form-group" formGroupName="client">
            <label for="name">Meu sobrenome</label>
            <input
              type="text"
              class="form-control"
              autocomplete="off"
              formControlName="last_name"
              placeholder="Ex: Silva"
              value="lastName"
            />
          </div>

          <div class="form-group" formGroupName="client">
            <label for="name">Meu Aniversario é</label>
            <input
              type="tel"
              class="form-control"
              autocomplete="off"
              formControlName="birth"
              placeholder="Ex: Cris"
              value="birth"
              [imask]="birth"
              [unmask]="true"
              minlength="8"
            />
          </div>

          <div class="form-group" formGroupName="client">
            <label for="name">Me identifico como</label>
            <select *ngIf="this.clientForm.controls.client.controls.sex.value == 'male' || this.clientForm.controls.client.controls.sex.value == 'feminine'" (change)="identifyMyselfAs($event.target.value)" formControlName="sex" class="form-control" required>
                <option  [value]="'male'">
                  Masculino
                </option>
                <option  [value]="'feminine'">
                    Feminino
                </option>
                <option  [value]="'other'">
                  Outro
              </option>
            </select>
            <div *ngIf="this.clientForm.controls.client.controls.sex.value != 'male' && this.clientForm.controls.client.controls.sex.value != 'feminine'" class="input-group">
              <span (click)="identifyMyselfAs('removeSexOther')" class="input-group-addon" style="cursor: pointer;background-color: #f0f2f5;border: 0px;" ><i class="fa fa-chevron-left"></i></span>
              <input
                type="text"
                class="form-control"
                autocomplete="off"
                formControlName="sex"
                value="sex"
                id="identifyMyselfAsSex"
              />
            </div>
            <span
              class="help-block"
              style="color: green"
              *ngIf="
                clientForm.controls.client.controls.sex.valid &&
                (clientForm.controls.client.controls.sex.dirty || clientForm.controls.client.controls.sex.touched)
              "
              ><i class="fa fa-check"></i>Ok
            </span>
            <span
              class="help-block"
              style="color: red"
              *ngIf="
                clientForm.controls.client.controls.sex.invalid &&
                (clientForm.controls.client.controls.sex.dirty || clientForm.controls.client.controls.sex.touched)
              "
              ><i class="fa fa-remove"></i>Campo Obrigatorio
            </span>
          </div>
  
        <div class="form-group" formGroupName="client">
          <label for="cep"> CEP </label>
          <input
            type="tel"
            class="form-control"
            (keyup)="validateCep($event.target.value)"
            autocomplete="off"
            [imask]="cepMask"
            [unmask]="true"
            minlength="8"
            formControlName="cep"
            placeholder="Enter cep"
            value="cep"
          />
        </div>

        <div class="form-group" formGroupName="client">
          <label for="state"> Estados </label>
          <select
            formControlName="state_federal" 
            (change)="setCity($event.target.value)"
            class="form-control"
          >
            <option *ngFor="let state of stateCity" [value]="state.sigla">
              {{ state.nome }}
            </option>
          </select>
        </div>
  
        <div class="form-group" formGroupName="client">
          <label for="city"> Cidade </label>
          <div *ngFor="let state of stateCity">
            <div 
              *ngIf="this.clientForm.controls.client.controls.state_federal.value == state.sigla"
            >
              <select formControlName="city" class="form-control" id="city"> 
                <option *ngFor="let cidade of state.cidades" [value]="cidade">
                  {{ cidade }}
                </option>
              </select>
            </div>
          </div>
        </div>
  
        <div class="form-group" formGroupName="client">
          <label for="neighborhood">Bairro</label>
          <input
            type="text"
            class="form-control"
            autocomplete="off"
            formControlName="neighborhood"
            placeholder="Enter bairro"
            value="neighborhood"
          />
        </div>
        <div class="form-group" formGroupName="client">
          <label for="street">Rua</label>
          <input
            type="text"
            class="form-control"
            autocomplete="off"
            formControlName="street"
            placeholder="Enter rua"
            value="street"
          />
        </div>
        <div class="form-group" formGroupName="client">
          <label for="cellphone">Celular</label>
          <input
            type="tel"
            class="form-control"
            autocomplete="off"
            [imask]="cellphoneMask"
            [unmask]="true"
            minlength="11"
            formControlName="cellphone"
            placeholder="Enter celular"
            value="cellphone"
          />
        </div>
  
        <div class="form-group" formGroupName="client">
          <label for="exampleInputEmail1">Telefone</label>
          <input
            type="tel"
            class="form-control"
            autocomplete="off"
            [imask]="phoneMask"
            [unmask]="true"
            minlength="10"
            formControlName="telephone"
            placeholder="Enter telefone"
          />
        </div>   
      </form>

      <button class="btn btn-primary" (click)="validateForm()">
        <b> Salvar Alterações </b>
      </button>
      
    </section>
</div>