
<div class="container">
  <div class="col-md-12 col-xs-12 card-container">
    <div *ngFor="let product of products; let productIndex = index " class="menu-item-info-box card">


      <div *ngIf="!warehouses?.length" class="col-md-12 col-xs-12 card-content">
        <span class="card-content-loader"></span>
      </div>
      <div *ngFor="let warehouse of warehouses; let warehouseIndex = index">
        <div *ngIf="product.FOREIGN_KEY_WAREHOUSE == warehouse.PRIMARY_KEY">
          <div class="col-md-12 col-xs-12 card-content">
            <span (click)="showDescription(warehouse.showDescription, warehouseIndex)" class="card-content-title">
              {{ warehouse.name }}
            </span>
            <div *ngIf="warehouse.showDescription" class="card-content-description">
              <span class="menu-item-info-box-detail">
                <label>
                  <p>
                    <b>Sessão: </b> {{ warehouse.session }}
                  </p>
                </label>
              </span>
              <span class="menu-item-info-box-detail">
                <label>
                  <p>
                    <b>Categoria: </b> {{ warehouse.category }}
                  </p>
                </label>
              </span>
              <span class="menu-item-info-box-detail">
                <label>
                  <p>
                    <b>Tipo: </b> {{ warehouse.type }}
                  </p>
                </label>
              </span>
              <span class="menu-item-info-box-detail">
                <label>
                  <p>
                    <b>Generico: </b> {{ warehouse.andGeneric? "Sim" : "Não" }}
                  </p>
                </label>
              </span>
              <span class="menu-item-info-box-detail">
                <label>
                  <p>
                    <b>Fornecedor: </b> {{ warehouse.company }}
                  </p>
                </label>
              </span>
              <h5 style="margin-top: 0px;">
                <div [innerHTML]="warehouse.description"></div>
              </h5>
            </div>
          </div>
          
          <div class="card-publication">
            <!--<span class="card-content-loader"></span>-->
            <div class="card-publication-container"> 
              <a target="_blank">
                
                <img style="width: 100%" [src]="warehouse.imageUrl[0]" alt="Photo">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-sales">
        <span class="menu-item-info-box-price card-sales-price">
          {{ product.price | currency: 'BRL'}} 
          <span>
            <b>
              {{ product.quantities }}  Unidades
            </b>
          </span>
        </span>

        <span class="card-sales-purchase">
          <span class="pull-right card-sales-purchase-add-card">
            <button (click)="encreaseItemCart(product)">
              Adicionar
            </button>
          </span>
          <span  *ngFor="let order of  this.order.product; let orderIndex = index">
            <span  *ngIf="product.PRIMARY_KEY == order.FOREIGN_KEY_PRODUCT">
              <span class="pull-right card-sales-purchase-quantity-card">
                <a class="adicionar-carrinho">
                  <b>  {{ order.quantity }} </b>
                </a>
              </span>
              <span class="pull-right card-sales-purchase-remove-card">
                <button (click)="decreaseItemCart(product, orderIndex)">
                  Remover
                </button>
              </span>
            </span>
          </span>
        </span>
      </div>
      <div class="card-react">
        <div class="card-react-love">
          <i class="fa  fa-heart-o"></i>
          <b>{{ product.totalOfLove }}</b>   
        </div>
        <div class="card-react-commit">        
          <i class="fa  fa-comment-o"></i>
          <b>{{ product.totalOfComment }}</b>   
        </div>
        <div class="card-react-sale">      
          <i class="fa  fa-star-o"></i>
          <b>{{ product.totalOfSale }}</b>   
        </div>
      </div>
    </div>
  </div>
</div>

<div style="position: absolute;top: 58px; left: 0px;"  *ngIf="order.product != 0">
  <footer style="position: fixed;" class="main-footer text-center btn-Secondary footer-card" data-keyboard="false" data-toggle="modal" data-target="#displayShoppingCart" >
    <b style="border-radius: 100px; padding: 5px 20px 5px 20px; background-color:#0095f6; ">
      {{  order.product.length }}
    </b>
  </footer>
</div>

<form>
  <div class="modal fade" id="displayShoppingCart" style="padding-right: 0px;">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color: #ffffff00; ">
        <div class="modal-body">
          <div class="box-footer" style="border-top: 0px;">
            <div class="row">
              <div class="box-solid" style="border:0px">
                <div class="box-body">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th class="text-center">Quantidade</th>
                          <th>Item</th>
                          <th class="text-right">Preço</th>
                          <th class="text-right"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of order.product; let itemIndex = index">
                          <td class="text-center">
                            <a (click)="decreaseItem(item)" class="btn btn-sm" style="color:red">
                              <i class="fa fa-minus"></i>
                            </a>
                            {{ item.quantity }}
                            <a (click)="encreaseItem(item, itemIndex)" class="btn btn-sm" style="color:green">
                              <i class="fa fa-plus"></i>
                            </a>
                          </td>
                          <td>{{ item.name }}</td>
                          <td class="text-right">
                            {{ item.price | currency: "BRL" }}
                          </td>
                          <td class="text-right">
                            <a class="btn btn-sm danger" (click)="deleteItem(item, itemIndex)">
                              <i class="fa fa-remove"></i>
                            </a>
                          </td>
                        </tr>
                        <tr></tr>
                      </tbody>
                    </table>                                 
                  </div>                                             
                  <table class="table" style="border:1px solid #D0D0D0">
                    <tbody style="border:none">
                      <tr>
                        <th>Total:</th>
                        <td class="text-right">{{ order.totalOrderValue | currency: "BRL" }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div style="margin-top: 10px;">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <a data-dismiss="modal" (click)="sedOrder()" class="btn btn-primary" style="margin: 0px; font-size:16px">
                      <b>Completar meu pedido, para o envio</b>
                    </a>
                    <br>
                    <a data-dismiss="modal" data-dismiss="modal" class="btn btn-Secondary" style="margin: 0px; font-size:16px">
                      <b>Voltar</b>
                    </a>
                  </div>
                </div>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form> 