
<div class="container">
  <div class="col-md-12 col-xs-12 card-container">
    <div *ngFor="let product of products" class="menu-item-info-box card">

      <div *ngIf="!stores?.length" class="card-header">
        <span class="card-header-loader"></span>
      </div>
      <div *ngFor="let store of stores">
        <div *ngIf="product.FOREIGN_KEY_STORE == store.PRIMARY_KEY" class="card-header">
          <span id="card-header-left" [routerLink]="['/client-page-of-store', store?.PRIMARY_KEY]">
            <span>
              <img class="img-circle" width="40px" [src]="store.imageIconUrl" alt="User Image" />
            </span>
            <span *ngIf="store.storeOpenOrClosed" class="card-header-left-store-open">
              <i class="fa fa-circle"></i>
            </span>
            <span *ngIf="!store.storeOpenOrClosed" class="card-header-left-store-closed">
              <i class="fa fa-circle"></i>
            </span>
            <span class="card-header-left-store-container">
              <a class="card-header-left-store-container-name">{{ store.name }}</a>
              <i class="fa fa-circle" style="font-size: 10px; margin-right: 5px;"></i>
              <a class="card-header-left-store-container-neighborhood">{{ store.neighborhood }}</a>
            </span>
            <span class="card-header-left-phone-container">
              {{ store.cellPhone | mask: '(00) 0 000-0000' }}
            </span>
          </span>
          <span class="card-header-right">
            <a style="font-size: 20px;">
              <i class="fa fa-ellipsis-h" style="color: #777;"></i>
            </a>
          </span>
        </div>
      </div>

      <div *ngIf="!warehouses?.length" class="col-md-12 col-xs-12 card-content">
        <span class="card-content-loader"></span>
      </div>
      <div *ngFor="let warehouse of warehouses ; let i = index">
        <div *ngIf="product.FOREIGN_KEY_WAREHOUSE == warehouse.PRIMARY_KEY">
          <div class="col-md-12 col-xs-12 card-content">
            <span (click)="showDescription(warehouse.showDescription, i)" class="card-content-title">
              {{ warehouse.name }}
            </span>
            <div *ngIf="warehouse.showDescription" class="card-content-description">
              <span class="menu-item-info-box-detail">
                <label>
                  <p>
                    <b>Sessão: </b> {{ warehouse.session }}
                  </p>
                </label>
              </span>
              <span class="menu-item-info-box-detail">
                <label>
                  <p>
                    <b>Categoria: </b> {{ warehouse.category }}
                  </p>
                </label>
              </span>
              <span class="menu-item-info-box-detail">
                <label>
                  <p>
                    <b>Tipo: </b> {{ warehouse.type }}
                  </p>
                </label>
              </span>
              <span class="menu-item-info-box-detail">
                <label>
                  <p>
                    <b>Generico: </b> {{ warehouse.andGeneric? "Sim" : "Não" }}
                  </p>
                </label>
              </span>
              <span class="menu-item-info-box-detail">
                <label>
                  <p>
                    <b>Fornecedor: </b> {{ warehouse.company }}
                  </p>
                </label>
              </span>
              <h5 style="margin-top: 0px;">
                <div [innerHTML]="warehouse.description"></div>
              </h5>
            </div>
          </div>
          
          <div class="card-publication">
            <!--<span class="card-content-loader"></span>-->
            <div class="card-publication-container"> 
              <a target="_blank">
                
                <img style="width: 100%" [src]="warehouse.imageUrl[0]" alt="Photo">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-sales">
        <span class="menu-item-info-box-price card-sales-price">
          {{ product.price | currency: 'BRL'}} 
          <span>
            <b>
              {{ product.quantities }}  Unidades
            </b>
          </span>
        </span>
        <span class="card-sales-purchase">
          <button (click)="sedOrder(product)" type="button" class="btn btn-default btn-xs pull-right">
            <b>Comprar</b>
          </button>
        </span>
      </div>
      <div class="card-react">
        <div class="card-react-love">
          <i class="fa  fa-heart-o"></i>
          <b>{{ product.totalOfLove }}</b>   
        </div>
        <div class="card-react-commit">        
          <i class="fa  fa-comment-o"></i>
          <b>{{ product.totalOfComment }}</b>   
        </div>
        <div class="card-react-sale">      
          <i class="fa  fa-star-o"></i>
          <b>{{ product.totalOfSale }}</b>   
        </div>
      </div>
    </div>
  </div>
</div>
