.login-content{
  margin-bottom: 70% auto;
}

.font-olissy{
  font-family: 'Clicker Script', cursive;
  font-size: 120px;
  font-weight: 100;
  color: #ec2490;
  text-align: center;
}
.btn-alert{
  margin-top: 5px;
  border: 0px;
  box-shadow: none;
  color:#dd4b39;
  font-weight: 600;
  background: rgb(255, 255, 255);
}

input.ng-invalid.ng-touched{
  border: 1px solid red;
}

input.ng-valid.ng-touched{
  border: 1px solid #ccc;
}

@media only screen and (max-width: 600px) {
  label {
    max-width: 100%;
    margin-bottom: 15px;
    font-weight: 100;
  }
  .col-xs-4 {
    width: 100%;
  }
}

.btn-primary {
  color: #575757;
  background-color: rgb(222 222 222);
  box-shadow: 1px 1px 2px 0px #aaaaaa;
  border-color: #aaaaaa00;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
}

.btn-primary:hover {
  color: #575757;
  background-color: #ffffff;
  border-color: #ededed;
}

a {
  color: #0095f6;
  text-decoration: none;
}

.box-body {
  padding: 30px 0px 0px 0px;
}

.callout {
  border-left: 0px solid #eee;
}

.form-control {
  color: #575757;
  border: 1px solid #ccc;
  height: 40px;
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border-color: #dedede !important;
  -webkit-box-shadow: inset 1px 1px 1px 1px #aaaaaa;
  -moz-box-shadow: inset 1px 1px 1px 1px #aaaaaa;
  box-shadow: inset 1px 1px 1px 1px #aaaaaa;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.help-block {
  margin-top: 0px;
  width: 300px;
}

@media all and (max-width: 600px) {
  input[type=checkbox] {
    margin: 0px 0px 15px 0px;
  }
}
