<section class="content">
    <div class="jumbotron">
        <div class="jumbotron-title">
            <h2>
                Bem-Vindo
            </h2>
            <p>
                Abra Sua Loja Virtual, é
                <b>GRÁTIS</b> e sempre sera!
            </p>
        </div>
      <div class="row" class="users-list clearfix jumbotron-container">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <img src="https://firebasestorage.googleapis.com/v0/b/olissy-web-test.appspot.com/o/plataform%2Fcrie-sua-loja-virtual-gratis.png?alt=media&token=b5623fb2-4d93-4ee4-a8b5-231150b553d6"alt="User Image"/>
          <a class="users-list-name">
            Loja virtual grátis 
          </a>
          <span class="users-list-date">
            O cadastro e gratuito entao não perca tempo, começe agora mesmo.
          </span>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
          <img src="https://firebasestorage.googleapis.com/v0/b/olissy-web-test.appspot.com/o/plataform%2Fsem-mensalidade-fixa.png?alt=media&token=9755d5ce-4405-4242-908c-e35be4667d5d" alt="User Image"/>
          <a class="users-list-name">
            Sem mensalidade fixa
          </a>
          <span class="users-list-date">
            uma plataforma sem planos de adesão ou taxa.
          </span>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
          <img src="https://firebasestorage.googleapis.com/v0/b/olissy-web-test.appspot.com/o/plataform%2Fsem-limitacoes.png?alt=media&token=766485a2-643a-42bd-af41-3a027782ce6e" alt="User Image"/>
          <a class="users-list-name">
            Sem limitações
          </a>
          <span class="users-list-date">
            Seja livre! cadastre quantos produtos quiser.
          </span>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
          <img src="https://firebasestorage.googleapis.com/v0/b/olissy-web-test.appspot.com/o/plataform%2Fsem-taxa-quando-vender.png?alt=media&token=153fe522-4765-4613-9b4c-4131c6016f54" alt="User Image"/>
          <a class="users-list-name">
            Sem taxa quando vender
          </a>
          <span class="users-list-date">
            Não cobramos taxas sobre suas vendas.
          </span>
        </div>
      </div>
      <br />
      <button  class="btn btn-primary" [routerLink]="['/open-my-store']">
        <b>Criar Minha Loja</b>
      </button>
    </div>
  </section>