
<div class="container">
  <div class="col-md-12 col-xs-12 card-container">
    <div *ngFor="let result of products; let i = index" class="menu-item-info-box card">

      <div *ngIf="!result.store" class="card-header">
        <span class="card-header-loader"></span>
      </div>
      <div *ngIf="result.store">
        <div class="card-header">
          <span id="card-header-left" [routerLink]="['/user-page-of-store', result.store?.primary_key]">
            <span>
              <img class="img-circle" width="40px" [src]="result.store.image_icon_url" alt="User Image" />
            </span>
            <span *ngIf="result.store.store_open_or_closed" class="card-header-left-store-open">
              <i class="fa fa-circle"></i>
            </span>
            <span *ngIf="!result.store.store_open_or_closed" class="card-header-left-store-closed">
              <i class="fa fa-circle"></i>
            </span>
            <span class="card-header-left-store-container">
              <a class="card-header-left-store-container-name">{{ result.store.name }}</a>
              <i class="fa fa-circle" style="font-size: 10px; margin-right: 5px;"></i>
              <a class="card-header-left-store-container-neighborhood">{{ result.store.neighborhood }}</a>
            </span>
            <span class="card-header-left-phone-container">
              {{ result.store.cellphone | mask: '(00) 0 000-0000' }}
            </span>
          </span>
          <span class="card-header-right">
            <a style="font-size: 20px;">
              <i class="fa fa-ellipsis-h" style="color: #777;"></i>
            </a>
          </span>
        </div>
      </div>
 
      <div *ngIf="!result.warehouse" class="col-md-12 col-xs-12 card-content">
        <span class="card-content-loader"></span>
      </div>
      <div *ngIf="result.warehouse">
        <div>
          <div class="col-md-12 col-xs-12 card-content">
            <span (click)="showDescription(result.warehouse.showDescription, i)" class="card-content-title">
              {{ result.warehouse.name }}
            </span>
            <div *ngIf="result.warehouse.showDescription" class="card-content-description">
              <span class="menu-item-info-box-detail">
                <label>
                  <p>
                    <b>Sessão: </b> {{ result.warehouse.session }}
                  </p>
                </label>
              </span>
              <span class="menu-item-info-box-detail">
                <label>
                  <p>
                    <b>Categoria: </b> {{ result.warehouse.category }}
                  </p>
                </label>
              </span>
              <span class="menu-item-info-box-detail">
                <label>
                  <p>
                    <b>Tipo: </b> {{ result.warehouse.type }}
                  </p>
                </label>
              </span>
              <span class="menu-item-info-box-detail">
                <label>
                  <p>
                    <b>Generico: </b> {{ result.warehouse.and_generic? "Sim" : "Não" }}
                  </p>
                </label>
              </span>
              <span class="menu-item-info-box-detail">
                <label>
                  <p>
                    <b>Fornecedor: </b> {{ result.warehouse.company }}
                  </p>
                </label>
              </span>
              <h5 style="margin-top: 0px;">
                <div [innerHTML]="result.warehouse.description"></div>
              </h5>
            </div>
          </div>
          
          <div class="card-publication">

            <div class="card-publication-container"> 
              <a target="_blank">
                <img style="width: 100%" [src]="result.warehouse.image_url" alt="Photo">
              </a>
            </div>
          </div>
        </div>
      </div>
      
      <div *ngIf="result.product" class="card-sales">
        <span class="menu-item-info-box-price card-sales-price">
          {{ result.product.price | currency: 'BRL'}} 
          <span>
            <b>
              {{ result.product.quantities }}  Unidades
            </b>
          </span>
        </span>
        <span class="card-sales-purchase">
          <button (click)="sedOrder(product)" type="button" class="btn btn-default btn-xs pull-right">
            <b>Comprar</b>
          </button>
        </span>
      </div>
      <div *ngIf="result.product" class="card-react">
        <div class="card-react-love">
          <i class="fa  fa-heart-o"></i>
          <b>{{ result.product.total_of_love }}</b>   
        </div>
        <div class="card-react-commit">        
          <i class="fa  fa-comment-o"></i>
          <b>{{ result.product.total_of_comment }}</b>   
        </div>
        <div class="card-react-sale">      
          <i class="fa  fa-star-o"></i>
          <b>{{ result.product.total_of_sale }}</b>   
        </div>
      </div>
    </div>
  </div>
</div>
