 <body class="skin-red fixed sidebar-mini sidebar-mini-expand-feature sidebar-collapse">
  <div class="wrapper">
    <app-header-user></app-header-user>
    <aside class="main-sidebar" style="padding-top: 50px;">
      <section class="sidebar">
        <app-column-user></app-column-user>
      </section>
    </aside>
    <div class="content-wrapper"> 
      <router-outlet></router-outlet>
    </div> <!----
    <div class="container">
      <section class="content" >
        <div>
          <h2><b>view</b></h2>
          <div>
            <pre>{{ view | json }}</pre>
          </div>
        </div>
      
        <div>
          <h2><b>user</b></h2>
          <div *ngFor="let user of user$ | async">
            <pre>{{ user | json }}</pre>
          </div>
        </div>

        <div>
          <h2><b>client</b></h2>
          <div *ngFor="let client of client$ | async">
            <pre>{{ client | json }}</pre>
          </div>
        </div>
      </section>
    </div> --->
    <div class="control-sidebar-bg"></div>
  </div>
</body>
