<br />
<ul class="sidebar-menu" data-widget="tree">
  <li routerLinkActive="active">
    <a routerLink="/alter-perfil-of-store" data-toggle="push-menu">
      <i class="fa fa-user"></i>
      <span>{{ store }}</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/store-alter-perfil-of-client" data-toggle="push-menu">
      <i class="fa fa-user"></i>
      <span>{{ user }}</span>
    </a>
  </li> 
  <li routerLinkActive="active">
    <a routerLink="/store-list-of-all-store" data-toggle="push-menu">
      <i class="fa fa-group"></i><span>Lojas</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/store-message" data-toggle="push-menu">
      <i class="fa fa-envelope"></i> <span>Mensagens</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/store-order-list" data-toggle="push-menu">
      <i class="fa fa-bell"></i>
      <span>Pedidos</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="new-product" data-toggle="push-menu">
      <i class="fa fa-plus"></i>
      <span>Novo produtos</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="store-product-record" data-toggle="push-menu">
      <i class="fa fa-tags"></i>
      <span>Meus produtos</span>
    </a>
  </li><!-- 
  <li routerLinkActive="active">
    <a routerLink="payment-list" data-toggle="push-menu">
      <i class="fa fa-dollar"></i>
      <span>Pagamentos</span>
    </a>
  </li>-->
  <li routerLinkActive="active">
    <a routerLink="/store-invoice-list" data-toggle="push-menu">
      <i class="fa fa-folder-open"></i>
      <span>Documentos</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a (click)="signOut()" data-toggle="push-menu"   >
      <i class="fa fa-power-off"></i>
      <span>Sair</span>
    </a>
  </li>
</ul>