
.card-container{
  display: flex;
  flex-direction:column;
  align-items: center;
  top: 30px; 
  margin-bottom: 30px;
}

.card{
  cursor: pointer;
  box-shadow: 1px 1px 2px 0px #aaaaaa;
  border-color: #aaaaaa00;
  border-radius: 5px;
  width: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 10px;
}

.card-header{
  padding: 5px 0px 0px 5px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  margin: -10px;
  margin-bottom: 0px;
  height: 50px;
  background-color: #f44336;
  border-radius: 5px 5px 0px 0px;
}

.card-header-right{
  padding-right: 15px;
}

.card-header-left{
  padding-left: 15px;
}

.card-content{
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 0px;
}

.card-content-title{
  /*white-space: normal*/
  font-family: Thasadith,sans-serif;
  font-weight: 900;
  margin: 0 0 10px 5px;
  width: 98%;
  color: #000;
  display: block;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.card-content-description{
  margin: 0px 0px 10px 5px;
}

.card-content-description > span{
  width: 100%;
}

.card-content-description > span > label{
  width: 100%; font-weight: normal;
}

.card-content-description > span > label > p{
  margin-bottom: 0px;
}

.card-publication{
  width: 100%;
  display:flex; 
  flex-wrap: nowrap; 
  justify-content: center; 
}

.card-publication-container{
  width: 90%;
}

.card-sales{
  margin: 5px 5px 5px 5px; 
  padding:0px 0px 0px 0px ;
}

.card-sales-price{
  font-family: 'Thasadith', sans-serif;
  font-weight: 900;
  font-size: 25px; 
  color:#000
}

.card-sales-price > span{
  font-size: 12px; 
  background-color: #2cce2fd1; 
  border-radius: 10px; 
  color: aliceblue; 
  color: #ffffff;
  padding: 5px; 
  top: -20px; 
  position: relative;
}

.card-sales-purchase > button{
  font-size: 25px;
  border-radius: 0px; 
  border: 0px solid #EE3233; 
  background: #fff; 
  color:#000;
  font-family: 'Thasadith', sans-serif;
  font-weight: 900;
}

.card-react{
  border-top: 1px solid rgb(228, 228, 228);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 5px 5px 10px 5px;
  align-items: baseline;
  padding-top: 10px;
}

.card-react-love > i{
  font-size: 24px; margin-right: 3px; color: #555;
}

.card-react-commit > i{
  font-size: 24px; margin-right: 3px; color: #555;
}

.card-react-sale > i{
  font-size: 24px; margin-right: 3px; color: #555;
}

.btn-del {
  color: #fff;
  background-color: #F44336;
  box-shadow: 1px 1px 2px 0px #E91E63;
  border-color: #FF5722;
}

.btn-del:hover {
  color: #fff;
  background-color: #d03c31;
  box-shadow: 1px 1px 2px 0px #E91E63;
  border-color: #FF5722;
}

.btn-light-del{
  color: #ffffff;
  background-color: rgb(255 255 255);
  box-shadow: 0px 0px 0px 0px #e0c4c4;
  border-color: #f44336;
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
}

.yes-publish-for-sale{
  filter: grayscale(0%)
}
.no-publish-for-sale{
  filter: grayscale(100%);
}




@-webkit-keyframes glowing {
  0% { color: blue }
  50% { color: wheat;}
  100% { color: red;}
}

@-moz-keyframes glowing {
  0% { color: blue }
  50% { color: wheat;}
  100% { color: red;}
}

@-o-keyframes glowing {
  0% { color: blue }
  50% { color: wheat;}
  100% { color: red;}
}

@keyframes glowing {
  0% { color: blue }
  50% { color: wheat;}
  100% { color: red;}
}

.button-alert { 
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}


/*mobile*/
@media only screen and (max-width: 600px) {
  .card-publication-container{
    width: 100%;
  }
  .card{
    margin-top: 20px;
    margin-bottom: 25px;
    border-radius: 0px;
    padding: 0px;
    padding-bottom: 10px;
    width: 100%;
  }
}
