/* You can add global styles to this file, and also import other style files */

@import "../node_modules/admin-lte/dist/css/AdminLTE.min.css";
@import "../node_modules/admin-lte/dist/css/skins/_all-skins.min.css";
@import "../node_modules/admin-lte/bower_components/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/admin-lte/bower_components/font-awesome/css/font-awesome.min.css";
@import "../node_modules/admin-lte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css";

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background-color: #f0f2f5;/* background color */
}

a{
  text-decoration:none;
}

a:link{
  text-decoration:none;
}

a.nounderline:link{
  text-decoration:none;
}

a:hover{
  text-decoration:none;
}

span:focus,
div:focus,
a:focus,
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  outline-width: 0;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

@media (max-width: 767px){
  .fixed .content-wrapper, .fixed .right-side {
    padding-top: 30px;
  }
}



/* header */
.skin-red .main-header .navbar {
  background-color: #e4e6eb ;
  box-shadow: 5px 0px 5px 0px #787f86
}

.skin-red .main-header .navbar .sidebar-toggle:hover {
  background-color: #f78fbe;
}

.skin-red .main-header .navbar .nav>li>a {
  color: #575757;
}

.skin-red .main-header .navbar .nav>li>a:hover, .skin-red .main-header .navbar .nav>li>a:active, .skin-red .main-header .navbar .nav>li>a:focus, .skin-red .main-header .navbar .nav .open>a, .skin-red .main-header .navbar .nav .open>a:hover, .skin-red .main-header .navbar .nav .open>a:focus, .skin-red .main-header .navbar .nav>.active>a {
  background: #e4e6eb ;
  color: #0095f6;
  fill:  #0095f6;
}

.skin-red .main-header .navbar .sidebar-toggle {
  color: #575757;
}

.skin-red .main-header .navbar .sidebar-toggle:hover {
  color: #0095f6;
  background-color: #e4e6eb ;
  fill:  #0095f6;
}


/* column */
.skin-red .wrapper, .skin-red .main-sidebar, .skin-red .left-side {
  background-color: #e4e6eb ;
  box-shadow: 0px 0px 5px 0px #787f86
}

.skin-red .sidebar-menu>li.active>a {
  border-left-color: #0095f6;
}
.skin-red .sidebar-menu>li:hover>a, .skin-red .sidebar-menu>li.active>a, .skin-red .sidebar-menu>li.menu-open>a {
  color: #0095f6;
  background: #e4e6eb ;
}

.skin-red .sidebar a {
  color: #575757;
}

/* background color */
.content-wrapper {
  background-color: #f0f2f5;;
}

.skin-red .sidebar-menu>li>.treeview-menu {
  margin: 0 1px;
  background: #c0c0c0;
}

.skin-red .sidebar-menu .treeview-menu>li>a {
  color: #575757;
}

.skin-red .sidebar-menu .treeview-menu>li.active>a, .skin-red .sidebar-menu .treeview-menu>li>a:hover {
  color: #0095f6;
}

.container{
  padding-left: 15px; 
  padding-right: 15px;
}

.login-box-body, .register-box-body {
  background: transparent;
  padding: 0px;
}

.font-olissy{
  color: #0095f6;
}

.form-control {
  color: #575757;
  border: 1px solid #ccc;
  height: 40px;
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border-color: #e4e6eb  !important;
  -webkit-box-shadow: inset 1px 1px 1px 1px #77777985;
  -moz-box-shadow: inset 1px 1px 1px 1px #77777985;
  box-shadow: inset 1px 1px 1px 1px #77777985;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.btn-Secondary {
  color: #575757;
  background-color: rgb(222 222 222);
  box-shadow: 1px 1px 2px 0px #aaaaaa;
  border-color: #aaaaaa00;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
}

.btn-Secondary:hover {
  color: #575757;
  background-color: #ffffff;
  border-color: #ededed;
}

.btn-Secondary.active.focus, .btn-Secondary.active:focus, .btn-Secondary.active:hover, .btn-Secondary:active.focus, .btn-Secondary:active:focus, .btn-Secondary:active:hover, .open>.dropdown-toggle.btn-Secondary.focus, .open>.dropdown-toggle.btn-Secondary:focus, .open>.dropdown-toggle.btn-Secondary:hover {
  color: #575757;
  background-color: #ededed;
  box-shadow: 1px 1px 2px 0px #aaaaaa;
  border-color: #aaaaaa00;
}

.btn-light {
  color: #575757;
  background-color: rgb(255 255 255);
  box-shadow: 1px 1px 2px 0px #aaaaaa;
  border-color: #aaaaaa00;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
}

.btn-light:hover {
  color: #575757;
  background-color: rgb(245 243 243);
  box-shadow: 1px 1px 2px 0px #aaaaaa;
  border-color: #aaaaaa00;
}

.btn-light.active.focus, .btn-light.active:focus, .btn-light.active:hover, .btn-light:active.focus, .btn-light:active:focus, .btn-light:active:hover, .open>.dropdown-toggle.btn-light.focus, .open>.dropdown-toggle.btn-light:focus, .open>.dropdown-toggle.btn-light:hover {
  color: #575757;
  background-color: #ededed;
  box-shadow: 1px 1px 2px 0px #aaaaaa;
  border-color: #aaaaaa00;
}

.btn-primary {
  color: #fff;
  background-color: #3e99fb;
  box-shadow: 1px 1px 2px 0px #004e82;
  border-color: #4e96ff;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
}

.btn-primary:hover {
  background-color: #0095f6;
  box-shadow: 1px 1px 2px 0px #004e82;
  border-color: #4e96ff;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
  color: #fff;
  background-image: none;
  background-color: #038ae4;
  box-shadow: 1px 1px 2px 0px #004e82;
  border-color: #4e96ff;
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-image: none;
  background-color: #038ae4;
  box-shadow: 1px 1px 2px 0px #004e82;
  border-color: #4e96ff;
}

.btn-primary.focus, .btn-primary:focus {
  background-color: #0095f6;
  box-shadow: 1px 1px 2px 0px #004e82;
  border-color: #4e96ff;
}

.hello{
  display: flex;
  flex: 1;
  background-color: #e4e6eb;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  padding-top: 25vh;
} 


.modal-backdrop {
  background-color: transparent !important;
}


.fa-remove {
  color: #ff6451;
  font-size: large;
}

.fa-plus{
  color:#13ce36;
  font-size: large;
}

.fa-minus{
  color:#ff6451;
  font-size: large;
}

/*mobile*/
@media only screen and (max-width: 600px) {
  .skin-red .main-header .navbar {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  }

  .container{
    padding-left: 0px; 
    padding-right: 0px;
  }

  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .modal-dialog {
    margin: 0px; 
  }

  .modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 0px solid rgba(0,0,0,.2);
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0,0,0,.5);
    outline: 0;
  }

  .hello{
    padding-top: 20vh;
  }
}