.icon-home{
    font-size: 27px;
    padding-top: 16px !important;
}

.icon-search{
    font-size: 20px;
}

.icon-message{
    font-size: 20px;
}

.icon-order{
    font-size: 20px;

}

.navbar-custom-menu .navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 0px;
    line-height: 0px;
}

@media (max-width: 769px){
    .navbar-custom-menu .navbar-nav>li>a {
        padding-top: 20px;
        padding-bottom: 0px;
        line-height: 0px;
    }
}

@media (max-width: 991px){
    .navbar-custom-menu .navbar-nav>li>a {
        padding-top: 20px;
        padding-bottom: 0px;
        line-height: 0px;
    }
}

.navbar-nav>.user-menu .user-image {
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -8px;
}

.navbar-custom-menu .navbar-nav > li > a{
    padding-top: 20px;
    padding-bottom: 0px;
    line-height: 15px;
}

.icon-order > .label {
    top: 15px !important;
    right: 13px !important;
}

.icon-message > .label {
    top: 15px !important;
    right: 13px !important;
}

.dropdown-menu{
    left: initial; 
    width: 250px
}

/*alerta de order e mensagem*/
.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
    background-color: #13ce36 !important;
}


.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
    border-radius: 10px;
    background-color: #ededed;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: 175px;
    padding: 10px;
    text-align: center;
    background-color: #ededed;
    border-radius: 10px;
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer {
    background-color: rgb(237 237 237);
    padding: 10px;
    border-radius: 10px;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
    color: rgb(0 0 0);
}

.btn-primary {
    color: #fff !important;
    background-color: #3e99fb !important;
    box-shadow: 1px 1px 2px 0px #004e82 !important;
    border-color: #4e96ff !important;
    border-radius: 5px !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
    margin-bottom: 20px !important;
    padding: 15px !important;
}

.btn-primary:hover {
    background-color: #0095f6 !important;
    box-shadow: 1px 1px 2px 0px #004e82 !important;
    border-color: #4e96ff !important;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff !important;
    background-image: none !important;
    background-color: #038ae4 !important;
    box-shadow: 1px 1px 2px 0px #004e82 !important;
    border-color: #4e96ff !important;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>img {
    border-color: rgb(255 255 255);
}

@media only screen and (max-width: 769px) {
    .icon-order > .label {
        top: 15px !important;
        right: 13px !important;
    }
    
    .icon-message > .label {
        top: 15px !important;
        right: 13px !important;
    }
    .navbar-custom-menu>.navbar-nav>li>.dropdown-menu {   
        position: absolute;
        right: 0px;
        left: 0px; 
        border-radius: 0px;
    }
    .navbar-nav>.user-menu>.dropdown-menu>li.user-header {
        border-radius: 0px;
    }
    
    .navbar-nav>.user-menu>.dropdown-menu>.user-footer {
        border-radius: 0px;
    }

}

/* nao quebrar menu com telas pequenas */
@media only screen and (max-width: 280px) {
    .nav>li>a {
        padding: 10px 10px;
    }
}


/*modal*/
.main-header .navbar .nav>li>a>.label {
    padding: 3px 6px;
}

.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
    background-color: #52d755 !important;
}

.modal {
    background: #fff;
    backdrop-filter: blur(0px);
}

.modal-content {
    box-shadow: 0 0px 0px rgb(0 0 0 / 0%);
    border: 0px solid rgb(0 0 0 / 0%);
    border-radius: 0px;
    height: 100vh;
}

.box-footer {
    background-color: #fff0;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fff0;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px solid #ddd;
}

td, th  {
    border-style : hidden!important;
}

.box-solid{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: initial;
}

.box-solid{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: initial;
}

.box-body {
    padding: 0px;
}