<header class="main-header">
    <nav class="navbar navbar-static-top">
      <a class="sidebar-toggle" data-toggle="push-menu" role="button" style="font-size: 20px">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active">
            <a routerLink="/home-client" class="icon-home">
              <i class="fa fa-home"></i>
            </a>
          </li>
          <li routerLinkActive="active">
            <a data-keyboard="false" data-toggle="modal" data-target="#displaySearch" class="icon-search">
              <i class="fa fa-search"></i>
            </a>
          </li>
          <li routerLinkActive="active" class="dropdown messages-menu">
            <a routerLink="/client-message-contact"  class="dropdown-toggle icon-message" data-toggle="dropdown">
              <i class="fa fa-envelope"></i>
              <span class="label label-success">
                0
              </span>
            </a> 
          </li> 
          <li routerLinkActive="active" class="dropdown notifications-menu">
            <a routerLink="/client-order"  class="dropdown-toggle icon-order" data-toggle="dropdown">
              <i class="fa fa-bell"></i>
              <span class="label label-success">
                0
              </span>
            </a>
          </li>
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="https://firebasestorage.googleapis.com/v0/b/olissy-web-test.appspot.com/o/plataform%2Favatar.png?alt=media&token=93cf2089-ee1d-4ccb-b88b-b210583889c6" class="user-image" alt="User Image"/>
              <span class="hidden-xs">
                saulo silva
              </span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <img src="https://firebasestorage.googleapis.com/v0/b/olissy-web-test.appspot.com/o/plataform%2Favatar.png?alt=media&token=93cf2089-ee1d-4ccb-b88b-b210583889c6" class="img-circle" width="50" alt="User Image"/>
                <p>
                  saulo silva
                  <small>
                    saulo@
                  </small>
                </p>
              </li>
              <li class="user-footer">
                <div class="pull-left">
                  <a routerLink="/client-user-change-registration" class="btn btn-primary">
                    Meus Dados
                  </a>
                </div>
                &nbsp;
                <div class="pull-right">
                  <a (click)="signOut()" class="btn btn-primary">
                    Deslogar
                  </a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <form>
    <div class="modal fade" id="displaySearch">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="box-footer" style="border-top: 0px; padding:0px">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                      client
                </div>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>