<header class="main-header">
    <nav class="navbar navbar-static-top">
      <a class="sidebar-toggle" data-toggle="push-menu" role="button" style="font-size: 20px">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active">
            <a routerLink="/client-home" class="icon-home">
              <i class="fa fa-home"></i>
            </a>
          </li>
          <li routerLinkActive="active">
            <a data-keyboard="false" data-toggle="modal" data-target="#displaySearch" class="icon-search">
              <i class="fa fa-search"></i>
            </a>
          </li>
          <li routerLinkActive="active" class="dropdown messages-menu">
            <a routerLink="/client-message-contact"  class="dropdown-toggle icon-message" data-toggle="dropdown">
              <i class="fa fa-envelope"></i>
              <span class="label label-success">
                0
              </span>
            </a> 
          </li> 
          <li routerLinkActive="active"  *ngIf="orderUser$ | async ;let show" class="dropdown notifications-menu">
            <a *ngIf="show.length > 0" routerLink="/client-order-list"  class="dropdown-toggle icon-order" data-toggle="dropdown">
              <i class="fa fa-bell"></i>
              <span class="label label-success">
                {{ show.length }}
              </span>
            </a>
          </li>
          <li routerLinkActive="active" *ngFor="let show of orderCreate$ | async" data-keyboard="false" data-toggle="modal" data-target="#displayShoppingCart">
            <a *ngIf="show" style="font-size: 22px;padding-top: 19px;">
              <i *ngIf="router != '/client-create-order'" class="fa fa-shopping-cart"></i> 
              <i *ngIf="router == '/client-create-order'" style=" color: #0095f6; " class="fa fa-shopping-cart"></i> 
              <span class="label label-success">
                {{ show?.product.length }}
              </span>
            </a>
          </li>
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="https://firebasestorage.googleapis.com/v0/b/olissy-web-test.appspot.com/o/plataform%2Favatar.png?alt=media&token=93cf2089-ee1d-4ccb-b88b-b210583889c6" class="user-image" alt="User Image"/>
              <span class="hidden-xs">
                saulo silva
              </span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <img src="https://firebasestorage.googleapis.com/v0/b/olissy-web-test.appspot.com/o/plataform%2Favatar.png?alt=media&token=93cf2089-ee1d-4ccb-b88b-b210583889c6" class="img-circle" width="50" alt="User Image"/>
                <p>
                  saulo silva
                  <small>
                    saulo@
                  </small>
                </p>
              </li>
              <li class="user-footer">
                <div class="pull-left">
                  <a routerLink="/client-user-change-registration" class="btn btn-primary">
                    Meus Dados
                  </a>
                </div>
                &nbsp;
                <div class="pull-right">
                  <a (click)="signOut()" class="btn btn-primary">
                    Deslogar
                  </a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  
  <form>
    <div class="modal fade" id="displaySearch">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="box-footer" style="border-top: 0px; padding:0px">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                      client
                </div>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </form> 

  <form>
    <div class="modal fade" id="displayShoppingCart" style="padding-right: 0px;">
      <div class="modal-dialog">
        <div class="modal-content" style="background-color: #fff;">
          <div class="modal-body">
            <div class="box-footer" style="border-top: 0px;">
              <div class="row">
                <div class="box-solid" style="border:0px">
                  <div class="box-body">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th class="text-center">Quantidade</th>
                            <th>Item</th>
                            <th class="text-right">Preço</th>
                            <th class="text-right"></th>
                          </tr>
                        </thead>
                        <tbody  *ngFor="let item of orderCreate$ | async">
                          <tr *ngFor="let item of item?.product; let itemIndex = index">
                            <td class="text-center">
                              <a (click)="decreaseItem(item)" class="btn btn-sm" style="color:red">
                                <i class="fa fa-minus"></i>
                              </a>
                              {{ item.quantity }}
                              <a (click)="encreaseItem(item, itemIndex)" class="btn btn-sm" style="color:green">
                                <i class="fa fa-plus"></i>
                              </a>
                            </td>
                            <td>{{ item.name }}</td>
                            <td class="text-right">
                              {{ item.price | currency: "BRL" }}
                            </td>
                            <td class="text-right">
                              <a class="btn btn-sm danger" (click)="deleteItem(item, itemIndex)">
                                <i class="fa fa-remove"></i>
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>                                 
                    </div>                                             
                    <table class="table table-striped" style="border:1px solid #D0D0D0">
                      <tbody style="border:none">
                        <tr>
                          <th>Total:</th>
                          <td class="text-right"> 
                            {{ Total() | currency: "BRL" }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div style="margin-top: 10px;">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <a data-dismiss="modal" (click)="sedOrder()" class="btn btn-primary" style="margin: 0px; font-size:16px">
                        <b>Completar meu pedido, para o envio</b>
                      </a>
                      <br>
                      <a data-dismiss="modal" data-dismiss="modal" class="btn btn-Secondary" style="margin: 0px; font-size:16px">
                        <b>Voltar</b>
                      </a>
                    </div>
                  </div>
                </div>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>  